<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	 xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	 version="3.1">
     <servlet>
        <servlet-name>AdminLogin</servlet-name>
        <servlet-class>ticket.AdminLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UDashboard</servlet-name>
        <servlet-class>ticket.UDashboard</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>ticket.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminMovies</servlet-name>
        <servlet-class>ticket.AdminMovies</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Book</servlet-name>
        <servlet-class>ticket.Book</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>delete</servlet-name>
        <servlet-class>ticket.delete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>delete2</servlet-name>
        <servlet-class>ticket.delete2</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminLogin</servlet-name>
        <url-pattern>/AdminLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UDashboard</servlet-name>
        <url-pattern>/UDashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminMovies</servlet-name>
        <url-pattern>/AdminMovies</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Book</servlet-name>
        <url-pattern>/Book</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>delete</servlet-name>
        <url-pattern>/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>delete2</servlet-name>
        <url-pattern>/delete2</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
